*{
	box-sizing: border-box;
}

.row{
	max-width:1000px;
	padding-left:100px;
  padding-right:100px;
	margin:0 auto;
}

.col-1,.col-2{
	float:left;
	padding-left: 1.04166666%;
  padding-right: 1.04166666%;
	width: 100%;
}

@media only screen and (min-width: 640px) {
  .col-1,.col-2 {
    width: 33%;
  }
	
	.mainHeader h2,h4{
	margin-left:565px;
	}

